@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* nav */
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav ul {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 70%;
  justify-content: space-around;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 20px;
}
.col {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
/* img */
.img-container {
  max-width: 750px;
}
.blog-img {
  width: 100%;
  height: 40%;
  border-radius: 0.25rem;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-wrapper .text {
  align-self: start;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

@media (min-width: 600px) and (max-width: 900px) {
  .img-container {
    margin: 0 2rem;
    max-width: 850px;
  }
  .blog-wrapper {
    max-width: 700px;
  }
}
