/* core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #eeedeb;
  color: #45474b;
}

h1,
h2 {
  font-family: "Merriweather", sans-serif;
}

h1,
h2,
h3 {
  color: #2f3645;
}

a {
  color: #4e6e9c;
}

a:hover {
  color: #96c9f4;
}

ul {
  list-style: none;
}
