/* core styles */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #eeedeb;
  color: #45474b;
}

h1,
h2 {
  font-family: "Merriweather", sans-serif;
}

h1,
h2,
h3 {
  color: #2f3645;
}

a {
  color: #4e6e9c;
}

a:hover {
  color: #96c9f4;
}

ul {
  list-style: none;
}
