@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: #0d0d0d;
  color: rgba(202, 202, 202, 0.8);
}

h1,
h2 {
  font-family: "Merriweather", sans-serif;
}

h1,
h2,
h3 {
  color: #fff;
}

.underline {
  text-decoration: underline;
}
.blogs {
  border: 2px solid #61988e;
  border-radius: 5px;
}
/*  */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, 150px) repeat(5, 1fr) minmax(50px, 100px);
  grid-template-areas:
    "hd hd hd hd hd"
    "link link link link link"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "ft ft ft ft ft";
}

.nav {
  grid-area: hd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-color {
  color: #ed6a5a;
}
.nav ul {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 70%;
  justify-content: space-around;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 20px;
}

ul {
  list-style: none;
}

li a {
  color: #4e6e9c;
  text-decoration: none;
}

.light-blue {
  color: #4e6e9c;
}
li a:hover {
  color: #fff;
}
.links {
  grid-area: link;
}
.blogs {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: Center;
  flex-wrap: wrap;
}

/* blogs */
.blog-one {
  background-image: url("../assets/hedgehog-looking-camera.avif");
  background-size: cover;
  background-position: center;
}
.blog-two {
  background-image: url("../assets/sugar-glider.avif");
  background-size: cover;
  background-position: center;
}
.blog-three {
  background-image: url("../assets/mastiff-dog.avif");
  background-size: cover;
  background-position: center;
}
.blog-four {
  background-image: url("../assets/mountain-goat.avif");
  background-size: cover;
  background-position: center;
}

.blog-text {
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  flex-direction: column;
}

.blog-text a {
  color: #61988e;
}
.card {
  min-width: 200px;
  height: 200px;
  text-align: center;
  border: 2px solid #61988e;
  border-radius: 5px;
}

.card h3 {
  text-shadow: 1px 3px 5px black;
}
.footer {
  grid-area: ft;
}

/* medium */
@media (min-width: 600px) and (max-width: 900px) {
  .blogs {
    border: 2px solid #61988e;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .links {
    border: 2px solid #61988eed;
  }
  .container {
    grid-template-areas:
      "hd hd hd hd hd"
      "link main main main main"
      "link main main main main"
      "link main main main main"
      "link main main main main"
      "link main main main main"
      "ft ft ft ft ft";
  }
  .links {
    padding: 10px;
  }
  .links h2 {
    margin-top: 20px;
  }
  .sidebar-nav li {
    margin: 15px 0;
  }
}

/* big screen */
@media (min-width: 901px) {
  .blogs {
    border: 5px solid #61988e;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .links {
    border: 5px solid #61988eed;
  }
  .container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(100px, 150px) repeat(5, 1fr) minmax(50px, 100px);
    grid-template-areas:
      "hd hd hd hd hd hd hd"
      "link link main main main main main"
      "link link main main main main main"
      "link link main main main main main"
      "link link main main main main main"
      "link link main main main main main"
      "ft ft ft ft ft ft ft";
  }
  .links {
    padding: 10px;
  }
  .links h2 {
    margin-top: 20px;
  }
  .sidebar-nav li {
    margin: 15px 0;
  }
}
